<header>
	<h1><%= @contract.year %> contract for <%= @villa.name %></h1>
	<h4>Owner <%= full_name(@owner) %>. Preferred language: <%= @owner.language %></h4>
</header>
<article>
	<p>Year: <%= @contract.year %></p>
	<p>Currency: <%= @contract.currency %></p>
	<p>Commission: <%= number_to_percentage ( @contract.commission) %></p>
	<p>Contract start date: <%= @contract.start_date %></p>
	<p>Contract end date: <%= @contract.end_date %></p>
	<p>Payment terms: <%= @contract.payment_terms %></p>
	<p>Contract: <%= @contract.contract %></p>
</article>
<hr />
<article class='event'>
	<p><strong>Rates</strong> | <%= link_to 'Add a Rate', new_rate_path(contract_id: @contract, villa_id: @villa)  %>
	<ul>
		<% @rates.each do |rate| %>
		<li>
			<p><strong><%= rate.name %></strong>
			Starts: <%= make_date(rate.start_date) %> | Ends <%= make_date(rate.end_date) %> | <strong>Net Rate: <%= number_to_currency(rate.net, locale: :it) %></strong> -- giving a selling price of <%= number_to_currency(rate.net/((100-@contract.commission))*100, locale: :it) %>
			| <%= link_to "Delete this rate", rate_path(rate), method: :delete, data: { confirm: 'Are you sure?'}  %></p>
		<% end %>
	</ul>
	<hr />
	<h4><%= link_to 'Generate Contract', make_contract_path(:contract_id  => @contract.id) %></h4>
</article>
